<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hockey, league, Mighty Ducks">
    <meta name="description" content="We want to show you the most important notices of Mighty Ducks Hockey League">
    <link rel="shortcut icon" href="../assets/Logo Mighty ducks-01.png" type="image/x-icon">
    <title>Mighty Ducks Hockey League</title>
</head>

<body>

    <header>
        <nav>

            <a href="./home.html">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="#">CONTACT</a>

        </nav>

        <h1>Mighty Ducks Hockey League</h1>
        <img src="../assets/Logo Mighty ducks-01.png" alt="Mighty Ducks Hockey League logo" width="100px">


    </header>

    <main>



        <section>
            <aside>
                <img src="../assets/hockey 3.jpg" alt="Hockey players" width="300px">
            </aside>

            <article>
                <h2>Contact</h2>
                <p>
                    Please email us at <a href="mailto:mdhl@chihockey.org">mdhl@chihockey.org</a>
                    <br>
                    We reply to your email as soon as we can.
                </p>
            </article>

        </section>



    </main>




    <footer>
        <nav>

            <a href="./home.html">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="#">CONTACT</a>

        </nav>

    </footer>


</body>

</html>