<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hockey, league, Mighty Ducks">
    <meta name="description" content="We want to show you the most important notices of Mighty Ducks Hockey League">
    <link rel="shortcut icon" href="../assets/images/LogoMightyDucks.png" type="image/x-icon">

    <link rel="stylesheet" href="../assets/styles/styleFlex.css">
    <!-- <link rel="stylesheet" href="../assets/styles/style1.css"> -->
    <!-- <link rel="stylesheet" href="../assets/styles/styleMDHL.css">-->


    <title>Mighty Ducks Hockey League</title>
</head>

<body>
    <div>
        <h1>Mighty Ducks Hockey League</h1>
    </div>

    <header>
        <nav>

            <a href="../views/index.html">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="../views/contact.html"> CONTACT</a>
            <a href="./policies.html">POLICIES & RULES</a>
            <a href="#">GAME SCHEDULE</a>
            <a href="./registration.html">PLAYER REGISTRATION</a>

        </nav>

    </header>

    <main>
        <h2> GAME INFORMATION</h2>
        <aside>
            <div>
                <img id="logo" src="../assets/images/LogoMightyDucks.png" alt="Hockey player">
            </div>

        </aside>
        <section class="gameInformation">
            <article class="gameDay">
                <p>All the games take place on Saturday</p>
            </article>
            <article>

                <table>
                    <caption>FALL SCHEDULE</caption>
                    <thead>

                        <tr>
                            <th>SEPTEMBRER</th>
                            <th>TEAMS</th>
                            <th>LOCATIONS</th>
                            <th>TIMES</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <td rowspan="2">09/01</td>
                            <td> U1 & U4</td>
                            <td>AJ Katzenmaier</td>
                            <td>9:30 a.m.</td>
                        </tr>

                        <tr>
                            <td>U3 & U2</td>
                            <td>Greenbay</td>
                            <td>1:00 p.m.</td>
                        </tr>

                        <tr>
                            <td rowspan="2">09/08</td>
                            <td>U5 & U6</td>
                            <td>Howard A Yeager</td>
                            <td>9:30 a.m.</td>
                        </tr>

                        <tr>
                            <td>U6 & U1</td>
                            <td>Marjorie P Hart</td>
                            <td>1:00 p.m.</td>
                        </tr>
                        <tr>
                            <td rowspan="2">09/15</td>
                            <td>U2 & U4</td>
                            <td>North</td>
                            <td>9:30 a.m.</td>
                        </tr>
                        <tr>
                            <td>U3 & U5</td>
                            <td>AJ Katzenmaiert</td>
                            <td>1:00 p.m.</td>
                        </tr>
                        <tr>
                            <td rowspan="2">09/22</td>
                            <td>U1 & U3</td>
                            <td>South</td>
                            <td>9:30 a.m.</td>
                        </tr>
                        <tr>
                            <td>U2 & U6</td>
                            <td>Howard A Yeager</td>
                            <td>1:00 p.m..</td>
                        </tr>
                        <tr>
                            <td>09/29</td>
                            <td>U4 & U5</td>
                            <td>Greenbay</td>
                            <td>9:30 a.m.</td>
                        </tr>

                    </tbody>

                </table>

            </article>

            <article class="maps">

                <H4>MAPS LOCATIONS OF THE GAMES</H4>
        
                <div>
                    <h6> AJ Katzenmaier Elementary</h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23757.257548527126!2d-87.629069!3d41.900229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd34e07f69da7%3A0x15e198c063fc787c!2sAJ%20Katzenmaier%20Elementary!5e0!3m2!1ses!2sar!4v1710480499458!5m2!1ses!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" >
                    </iframe>
                </div>
    
                <div>
                    <h6>Green Bay School </h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23600.084300010745!2d-87.868882!3d42.320974!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880f933bce5af881%3A0x740a7a7d548adce1!2sGreen%20Bay%20School%20(Pre-K)!5e0!3m2!1ses!2sar!4v1710480704069!5m2!1ses!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
                <div>
                    <h6>Howard A. Yeager School</h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23602.16060575717!2d-87.853881!3d42.315438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880feccac26b07c5%3A0x8b51fa5d6efe771a!2sHoward%20A.%20Yeager%20School%20(PRE-K)!5e0!3m2!1ses-419!2sar!4v1710480871496!5m2!1ses-419!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
                <div>
                    <h6>Marjorie P Hart Elementary</h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d23746.318669830376!2d-87.645973!3d41.929623!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd30f2637f9d7%3A0xdbff5d5dfcfcfa35!2sMarjorie%20P%20Hart%20Elementary!5e0!3m2!1ses-419!2sar!4v1710481069607!5m2!1ses-419!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
                <div>
                    <h6>North Elementary School</h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d94814.67832324513!2d-87.881304!3d42.044066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb793e8d23749%3A0xbdd4da26438cf3a0!2sNorth%20Elementary%20School!5e0!3m2!1ses-419!2sar!4v1710481093003!5m2!1ses-419!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
    
                <div>
                    <h6>SOUTH ELEMENTARY SCHOOL</h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d189700.52090875115!2d-87.886045!3d42.020217!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb7ad3c474b63%3A0x93bdf85af2a839ed!2sSOUTH%20ELEMENTARY%20SCHOOL!5e0!3m2!1ses-419!2sar!4v1710481117335!5m2!1ses-419!2sar"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
    
            </article>

            <article class="textMain">
                <p> <span> Facility Type : </span> Outdoor </p>
                <p> <span> Additional Information : </span> If deemed necessary by MDHL games may be shortened or
                    cancelleddue to extreme weather conditions. </p>


            </article>

            <article class="contactGames">
                <p> <span> Please direct all questions to: </span> Michael Randall, League Cordinator </p>
                <p> <span> Additional Information : </span> If deemed necessary by MDHL games may be shortened or
                    cancelleddue to extreme weather conditions. </p>
                <p> <span>Phone : </span> (630) 6908132 </p>
                <p> <span>Email : </span> michael.randall@chihockey.org </p>

            </article>

        </section>

        



    </main>




    <footer>

        <p>Mighty Ducks Hockey League &reg; </p>
        <nav>

            <a href="../views/index.html">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="../views/contact.html"> CONTACT</a>
            <a href="./policies.html">POLICIES & RULES</a>
            <a href="#">GAME SCHEDULE</a>
            <a href="./registration.html">PLAYER REGISTRATION</a>


        </nav>

    </footer>


</body>

</html>