<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hockey, league, Mighty Ducks">
    <meta name="description" content="We want to show you the most important notices of Mighty Ducks Hockey League">
    <link rel="shortcut icon" href="../assets/images/LogoMightyDucks.png" type="image/x-icon">

    <link rel="stylesheet" href="../assets/styles/styleFlex.css">
     <!-- <link rel="stylesheet" href="../assets/styles/style1.css"> -->
   <!-- <link rel="stylesheet" href="../assets/styles/styleMDHL.css">-->


    <title>Mighty Ducks Hockey League</title>
</head>

<body>
    <div>  
        <h1>Mighty Ducks Hockey League</h1>
    </div>

    <header>
        <nav>

            <a href="../views/index.html">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="../views/contact.html"> CONTACT</a>
            <a href="./policies.html">POLICIES & RULES</a>
            <a href="#">GAME SCHEDULE</a>

        </nav>

    </header>

    <main>
        <h2> GAME INFORMATION</h2>
        <aside>
            <div>
                <img id="logo" src="../assets/images/LogoMightyDucks.png" alt="Hockey player">
            </div>

        </aside>
        <section class="gameInformation">
            <article class="gameDay">
                <p>All the games take place on Saturday</p>
            </article>
            <article>
                
                <table>
                    <caption>FALL SCHEDULE</caption>
                    <thead>
                        
                        <tr>
                            <th>SEPTEMBRER</th>
                            <th>TEAMS</th>
                            <th>LOCATIONS</th>
                            <th>TIMES</th>
                                                    
                        </tr>

                    </thead>

                    <tbody>

                        <tr> 
                            <td rowspan="2">09/01</td>
                            <td> U1 & U4</td>
                            <td>AJ Katzenmaier</td>
                            <td>9:30 a.m.</td>
                        </tr>

                        <tr>
                            <td>U3 & U2</td>
                            <td>Greenbay</td>
                            <td>1:00 p.m.</td>
                        </tr>

                        <tr>
                            <td rowspan="2">09/08</td>
                            <td>U5 & U6</td>
                            <td>Howard A Yeager</td>
                            <td>9:30 a.m.</td>
                        </tr>

                        <tr>
                            <td>U6 & U1</td>
                            <td>Marjorie P Hart</td>
                            <td>1:00 p.m.</td>
                        </tr>
                        <tr>
                            <td rowspan="2">09/15</td>
                            <td>U2 & U4</td>
                            <td>North</td>
                            <td>9:30 a.m.</td>
                        </tr>
                        <tr>
                            <td>U3 & U5</td>
                            <td>AJ Katzenmaiert</td>
                            <td>1:00 p.m.</td>
                        </tr>
                        <tr>
                            <td rowspan="2">09/22</td>
                            <td>U1 & U3</td>
                            <td>South</td>
                            <td>9:30 a.m.</td>
                        </tr>
                        <tr>
                            <td>U2 & U6</td>
                            <td>Howard A Yeager</td>
                            <td>1:00 p.m..</td>
                        </tr>
                        <tr>
                            <td>09/29</td>
                            <td>U4 & U5</td>
                            <td>Greenbay</td>
                            <td>9:30 a.m.</td>
                        </tr>

                    </tbody>

                </table>

            </article>

            <article class="textMain">
                <p > <span> Facility Type : </span> Outdoor </p>
                <p> <span> Additional Information : </span> If deemed necessary by MDHL games may be shortened or cancelleddue to extreme weather conditions. </p>
               

            </article>
            
            <article class="contactGames">
                <p> <span> Please direct all questions to: </span> Michael Randall, League Cordinator  </p>               <p> <span> Additional Information : </span> If deemed necessary by MDHL games may be shortened or cancelleddue to extreme weather conditions. </p>
                <p> <span>Phone : </span>  (630) 6908132 </p>
                <p> <span>Email : </span> michael.randall@chihockey.org  </p>

            </article>

        </section>


    </main>




    <footer>

        <p>Mighty Ducks Hockey League &reg; </p>
        <nav>

            <a href="../views/index.html">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="../views/contact.html"> CONTACT</a>
            <a href="./policies.html">POLICIES & RULES</a>
            <a href="#">GAME SCHEDULE</a>
            

        </nav>

    </footer>


</body>

</html>