<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="hockey, league, Mighty Ducks">
    <meta name="description" content="We want to show you the most important notices of Mighty Ducks Hockey League">
    <link rel="shortcut icon" href="../assets/LogoMightyDucks.png" type="image/x-icon">
    <title>Mighty Ducks Hockey League</title>
</head>

<body>

    <header>
        <nav>

            <a href="#">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="./contact.html">CONTACT</a>

        </nav>

        <h1>Mighty Ducks Hockey League</h1>
        <img src="../assets/LogoMightyDucks.png" alt="Mighty Ducks Hockey League logo" width="100px">


    </header>

    <main>

        <section>
            <header>
                <h2>Upcoming Events</h2>
                
            </header>

            <aside>
                <img src="../assets/hockey1.jpg" alt="hockey player" width="300px">
            </aside>

            <article>
                <h3>August 4</h3>
                <p>MDSL Fundraiser</p>
            </article>

            <article>
                <h3>August 16</h3>
                <p>Season Kick-off: Meet the Teams</p>
            </article>

            <article>
                <h3>September 1</h3>
                <p>First Game of the Season (Check Game Schedule for details)</p>
            </article>


        </section>



    </main>




    <footer>
        <nav>

            <a href="#">HOME</a>
            <a href="./aboutMDHL.html">ABOUT MDHL</a>
            <a href="./contact.html">CONTACT</a>

        </nav>

    </footer>


</body>

</html>